<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baseball Hack Day 2015</title>


    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,700|Audiowide' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/bbclub-font.css" />

    <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
    Twitter: https://dev.twitter.com/docs/cards/types/summary-card
    ============================== -->
	<meta property="og:title" content="Baseball Hack Day 2015"/>
  	<meta property="og:site_name" content="Baseball Hack Day 2015"/>
 	<meta property="og:url" content="baseballhackday2015.departmentofawesome.com"/>
	<meta property="og:description" content="Follow your favorite baseball team around the country!"/>
    <!--<meta property="og:image" content="http://IMAGEURL"/> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Groupieology">
    <meta name="twitter:title" content="Groupieology">
    <meta name="twitter:description" content="Re-live past concert venue experiences and get tickets for upcoming concerts for my favorite musicians">
    <!--<meta name="twitter:image" content="http://IMAGEURL">-->

    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>


  <body id="hackday-app">
    <header class="row">
      <div class="large-12 columns">
        <h1 class="logo"><i class="fa fa-ticket"></i> Baseball Hack Day 2015</h1>
      </div>
    </header>

    <div class="row container-searchbox" >
      <div class="large-10 large-offset-1 columns ">

        <select id="teams" name="team-select">
          <option>Select Your Team</option>
          <option value='30'>Arizona Diamondbacks</option>
          <option value='2'>Atlanta Braves</option>
          <option value='25'>Baltimore Orioles</option>
          <option value='21'>Boston Red Sox</option>
          <option value='11'>Chicago Cubs</option>
          <option value='23'>Chicago White Sox</option>
          <option value='26'>Cincinnati Reds</option>
          <option value='6'>Cleveland Indians</option>
          <option value='7'>Colorado Rockies</option>
          <option value='12'>Detroit Tigers</option>
          <option value='20'>Houston Astros</option>
          <option value='5'>Kansas City Royals</option>
          <option value='28'>Los Angeles Angels</option>
          <option value='1'>Los Angeles Dodgers</option>
          <option value='29'>Miami Marlins</option>
          <option value='15'>Milwaukee Brewers</option>
          <option value='19'>Minnesota Twins</option>
          <option value='3'>New York Mets</option>
          <option value='8'>New York Yankees</option>
          <option value='14'>Oakland Athletics</option>
          <option value='18'>Philadelphia Phillies</option>
          <option value='10'>Pittsburgh Pirates</option>
          <option value='24'>San Diego Padres</option>
          <option value='22'>San Francisco Giants</option>
          <option value='13'>Seattle Mariners</option>
          <option value='27'>St. Louis Cardinals</option>
          <option value='4'>Tampa Bay Rays</option>
          <option value='16'>Texas Rangers</option>
          <option value='17'>Toronto Blue Jays</option>
          <option value='9'>Washington Nationals</option>
        </select>

      </div>
    </div>

    <div class="row">
      <div class="large-12 columns content-container">

        <div id="content" class="content">

        </div>

        <div id="event-map" class="event-map">

        </div>
      </div>
    </div>


    <footer>
      <div class="row">
        <div class="large-10 large-offset-1 columns">
           <strong class="logo">Baseball</strong> Project for <a href="http://www.baseballhackday.com">Baseball Hack Day 2015</a><br>
           <a href="https://github.com/arkadyan/baseballhackday2015"><i class="fa fa-github"></i> GitHub project page</a><br>
  Team members: <a href="https://github.com/arkadyan">Matthew Shanley</a>, <a href="https://github.com/tylermachado">Tyler Machado</a>, and <a href="https://github.com/kdavisk6">Kevin Davis</a><br>
            Powered by <a href="http://platform.seatgeek.com/">SeatGeek API</a>.<br>
            Started using the work of <a href="https://github.com/everett-toews/groupieology"><i class="fa fa-github"></i> Groupieology</a>
        </div>
      </div>
    </footer>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC1tyhLTzdZEtr-4Lj9txTum3cyQcmXf0E&sensor=false"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/hackday.js"></script>

    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>

    <!-- Backbone view templates -->
    <script type="text/template" id="event-template">
        <div class="th">
			<ul>
			<% _.each(events, function(event) { %>
				<li><input type="checkbox" id="<%= _.escape(event.id) %>"><%= _.escape(event.title) %></input></li>
			<% }); %>
			</ul>
			<button id="mapit">Map it!</button>
		</div>
    </script>


  </body>
</html>
