<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baseball Hack Day 2015</title>

    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,700|Audiowide' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/bbclub-font.css" />

    <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
    Twitter: https://dev.twitter.com/docs/cards/types/summary-card
    ============================== -->
    <meta property="og:title" content="Baseball Hack Day 2015"/>
    <meta property="og:site_name" content="Baseball Hack Day 2015"/>
    <meta property="og:url" content="baseballhackday2015.departmentofawesome.com"/>
    <meta property="og:description" content="Follow your favorite baseball team around the country!"/>
    <!--<meta property="og:image" content="http://IMAGEURL"/> -->

    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>


  <body id="hackday-app">
    <header class="row">
      <div class="large-12 columns">
        <h1 class="logo"><i class="fa fa-ticket"></i> Baseball Hack Day 2015</h1>
      </div>
    </header>

    <div class="row container-searchbox" >
      <div class="large-10 large-offset-1 columns ">

        <ul id="teams" name="team-select">
          <li>
            Select Your Team
            <ul>
              <li data-team-id='30'><i class="bb-ari"></i> Arizona Diamondbacks</li>
              <li data-team-id='2'><i class="bb-atl"></i> Atlanta Braves</li>
              <li data-team-id='25'><i class="bb-bal"></i> Baltimore Orioles</li>
              <li data-team-id='21'><i class="bb-bos"></i>  Boston Red Sox</li>
              <li data-team-id='11'><i class="bb-chn"></i> Chicago Cubs</li>
              <li data-team-id='23'><i class="bb-cha"></i> Chicago White Sox</li>
              <li data-team-id='26'><i class="bb-cin"></i> Cincinnati Reds</li>
              <li data-team-id='6'><i class="bb-cle"></i> Cleveland Indians</li>
              <li data-team-id='7'><i class="bb-col"></i> Colorado Rockies</li>
              <li data-team-id='12'><i class="bb-det"></i> Detroit Tigers</li>
              <li data-team-id='20'><i class="bb-hou"></i> Houston Astros</li>
              <li data-team-id='5'><i class="bb-kca"></i> Kansas City Royals</li>
              <li data-team-id='28'><i class="bb-ana"></i> Los Angeles Angels</li>
              <li data-team-id='1'><i class="bb-lan"></i> Los Angeles Dodgers</li>
              <li data-team-id='29'><i class="bb-mia"></i> Miami Marlins</li>
              <li data-team-id='15'><i class="bb-mil"></i> Milwaukee Brewers</li>
              <li data-team-id='19'><i class="bb-min"></i> Minnesota Twins</li>
              <li data-team-id='3'><i class="bb-nyn"></i> New York Mets</li>
              <li data-team-id='8'><i class="bb-nya"></i> New York Yankees</li>
              <li data-team-id='14'><i class="bb-oak"></i> Oakland Athletics</li>
              <li data-team-id='18'><i class="bb-phi"></i> Philadelphia Phillies</li>
              <li data-team-id='10'><i class="bb-pit"></i> Pittsburgh Pirates</li>
              <li data-team-id='24'><i class="bb-sdn"></i> San Diego Padres</li>
              <li data-team-id='22'><i class="bb-sfn"></i> San Francisco Giants</li>
              <li data-team-id='13'><i class="bb-sea"></i> Seattle Mariners</li>
              <li data-team-id='27'><i class="bb-sln"></i> St. Louis Cardinals</li>
              <li data-team-id='4'><i class="bb-tba"></i> Tampa Bay Rays</li>
              <li data-team-id='16'><i class="bb-tex"></i> Texas Rangers</li>
              <li data-team-id='17'><i class="bb-tor"></i> Toronto Blue Jays</li>
              <li data-team-id='9'><i class="bb-was"></i> Washington Nationals</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="large-12 columns content-container">

        <div id="content" class="content">

        </div>

        <div id="event-map" class="event-map">

        </div>
      </div>
    </div>


    <footer>
      <div class="row">
        <div class="large-10 large-offset-1 columns">
           <strong class="logo">Baseball</strong> Project for <a href="http://www.baseballhackday.com">Baseball Hack Day 2015</a><br>
           <a href="https://github.com/arkadyan/baseballhackday2015"><i class="fa fa-github"></i> GitHub project page</a><br>
  Team members: <a href="https://github.com/arkadyan">Matthew Shanley</a>, <a href="https://github.com/tylermachado">Tyler Machado</a>, and <a href="https://github.com/kdavisk6">Kevin Davis</a><br>
            Powered by <a href="http://platform.seatgeek.com/">SeatGeek API</a>.<br>
            Started using the work of <a href="https://github.com/everett-toews/groupieology"><i class="fa fa-github"></i> Groupieology</a>
        </div>
      </div>
    </footer>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC1tyhLTzdZEtr-4Lj9txTum3cyQcmXf0E&sensor=false"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/hackday.js"></script>

    <script type="text/javascript">
      $(function() {
        $("#teams").menu();
      });
    </script>

    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>

    <!-- Backbone view templates -->
    <script type="text/template" id="event-template">
        <div class="th">
			<ul>
			<% _.each(events, function(event) { %>
				<li><input type="checkbox" id="event-<%= _.escape(event.id) %>"><div class="eventtitle"><i class="bb-<%= _.escape(event.performers[1].slug) %>"></i><%= _.escape(event.title) %><i class="bb-<%= _.escape(event.performers[0].slug) %>"></i></div><div class="eventmeta"><%= _.escape(event.venue.name) %>, <%= _.escape(event.venue.display_location) %>, <%= _.escape(event.datetime_local) %></div></input></li>
			<% }); %>
			</ul>
		</div>
    </script>


  </body>
</html>
